.Nav {
  display: flex;
  padding: 10px;
  height: 40px;
  /* background-color: green; */
  align-items: center;
  justify-content: center;
}

.Nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: purple; */
}

.Nav-right a {
  padding: 0px 5px 0px;
}

.Nav-container a {
  text-decoration: none;
}
