.Product-card-container {
  height: 180px;
  width: 160px;
  /* background-color: violet; */
  margin: 5px 5px;
  position: relative;
}

.Product-image {
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.Product-category-text {
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 12px;
  color: white;
}

.Product-price-text {
  position: absolute;
  left: 5px;
  bottom: 2px;
  font-size: 12px;
  color: white;
}
